""""
Dags para generar por plantilla Dags scrapy para Airflow.
author: Miguel Herize
mail: migherize@gmail.com
"""
import os
from datetime import datetime
from airflow import DAG
from airflow.operators.bash import BashOperator
import utils.constants as constants

default_args = {
    "start_date": datetime.now(),
}

dag = DAG("scrapy_{{dag_id}}", default_args=default_args, schedule_interval="{{schedule_interval}}")

run_scrapy = BashOperator(
    task_id="run_scrapy",
    bash_command="call_script/plantilla_general.sh",
    params={
        "path_script": os.path.join(
            constants.AIRFLOW_HOME,
            constants.PATH_PROJECT_SCRAPY,
            "{{name_project}}"
        ),
        "scrapy": os.path.join(constants.VIRTUAL_ENV, "bin/scrapy"),
        "spider": "{{script}}",
        "url": "{{fuente}}",
        "path_reports": os.path.join(constants.AIRFLOW_HOME, constants.REPORTS),
    },
    output_encoding="utf-8",
    dag=dag,
)